<html>
	<head>
		<title>Sign In | LeadDesk</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link href="/css/output.css" rel="stylesheet">
	</head>

	<body class="bg-gray-100 min-h-screen flex flex-col">

		<h2 class="text-3xl font-semibold text-center mt-10 text-gray-800">
			Register
		</h2>

		<div class="flex-1 flex items-center justify-center px-4">

			<div class="bg-white p-8 w-full max-w-md rounded-lg shadow-md">

				<form action="/register" th:object="${dto}" method="post">

					<label for="email" class="block text-gray-700 font-medium mb-2">
						Email
					</label>

					<input
						type="email"
						name="email"
						class="w-full border border-gray-300 rounded-md p-3 mb-5 outline-none focus:border-blue-500"
						placeholder="Enter your Email"
						required
					>

					<label for="Password" class="block text-gray-700 font-medium mb-2">
						Password
					</label>

					<input
						type="password"
						name="password"
						class="w-full border border-gray-300 rounded-md p-3 mb-6 outline-none focus:border-blue-500"
						placeholder="Enter your Password"
						required
					>

					<button
						type="submit"
						class="w-full bg-blue-600 text-white py-3 rounded-md hover:bg-blue-700 transition"
					>
						Register
					</button>

					<p class="text-center text-gray-600 mt-5">
						Already have an account?
						<a href="/login" class="text-blue-600 hover:underline">
							Login now
						</a>
					</p>

				</form>

			</div>

		</div>

		<footer class="bg-black text-white py-3 text-center">
			<a href="https://digitalheroesco.com">
				Built for Digital Heroes Training Task
			</a>
		</footer>


	</body>
</html>